<div class="jumbotron text-center" data-aos="fade-up-right" style="background-color: transparent; border: none;">
    <h1 class="custom-font text-white">Education</h1>
    <div class="row align-items-center glass">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="card text-white border-0">
                <div class="card-body">
                    <img src="assets/Images/undraw_Educator_re_ju47.png" alt="img" style="height: 10rem;">
                    <p>KLE Institute of Technology, Hubballi</p>
                    <p>Master's in Computer Applications (MCA), 2019</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 video-container">
            <video autoplay loop muted class="video-background">
                <source src="assets/vedio/educationvedio.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</div>