/* Styling the active route with green color */
.route-text {
  color: #12d640;
  //   text-decoration: underline;
  position: relative;
  font-weight: bold;
  cursor: pointer;
  top: -0.16em;
  transition: padding 0.5s, top 0.35s, box-shadow 0.4s;
  //   box-shadow: 0 0.4rem 0 -0.2rem #0ebac5;
}

.navbar {
  //background-image: url("~assets/Images/headerbg.png");
  background-image: url("~src/assets/Images/headerbg.png");
}

.nav-item:hover .nav-link {
  //   color: #ff5722; /* Change icon color on hover */
  font-weight: bold;
}

// ul {
//   display: flex;
//   justify-content: center;
//   flex-direction: row;
//   align-items: center;
//   width: 100%;
//   height: 60px;
//   border-bottom: 5px solid #0ebac5;
//   border-top: 5px solid #0ebac5;
//   background-color: #fff4b0;
// }

ul li {
  display: inline;
  list-style-type: none;
}

li a {
  //   text-decoration: none;
  font-size: 20px;
  //   text-transform: capitalize;
  //   font-family: Kalam, Arial;
  font-weight: 700;
  margin-right: 1em;
  color: black;
  //   position: relative;
  //   border-bottom: 2px solid #000;
}

li a:hover {
  top: -0.16em;
  transition: padding 0.5s, top 0.35s, box-shadow 0.4s;
  box-shadow: 0 0.4rem 0 -0.2rem #0ebac5;
}
