<div class="container jumbotron text-center" data-aos="fade-left">
    <div class="row align-items-center">
        <!-- Profile Image Section -->
        <!-- <div class="col-sm-4 col-md-3 col-lg-3 text-sm-center text-md-left mb-2 mb-sm-0">
            <img src="https://media.licdn.com/dms/image/v2/C5603AQGVpsXimAjgvQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1616077561335?e=2147483647&v=beta&t=720zH6U-RspkCN5rPaDSMuhelfTuwO7rSZNRCXFxa4U"
                alt="Profile Image" loading="lazy" class="img-fluid rounded-circle shadow">
        </div> -->

        <!-- Bio Section -->
        <div class="col-sm-12 col-md-12 col-lg-12 text-white">
            <p class="custom-font-Oswald">
                I am a focused and enthusiastic developer with a strong passion for software development and artificial
                intelligence.
                My exposure to fundamental concepts and their practical application in various projects has deepened my
                love for these fields.
                As a motivated individual, I thrive on building and implementing algorithms to solve real-world industry
                problems.
            </p>
        </div>
    </div>
</div>