<div class="jumbotron " data-aos="fade-up-left">
    <h1 class="custom-font text-info text-center">Professional Experience</h1>
    <hr>
    <!-- Dhruv Compusoft  -->
    <div>
        <div class="row" style="display: flex;justify-content: space-between;">
            <strong>Dhruv Compusoft Consultancy Pvt. Ltd, Bangalore </strong>
            <p>Software Developer | 05/2022 - Present</p>
        </div>

        <div>
            <div>
                <label><strong>Project : JCMS Project</strong></label>
            </div>
            <div>
                <span><strong>Role : FrontEnd Lead</strong></span>
            </div>
            <summary class="mt-1">A Judicial Case Management System (JCMS) is a system that helps courts manage cases
                efficiently,
                from filing to resolution, by providing tools for scheduling, tracking, and managing case information. I
                was involved with migrating application from Angular version 12 to 16. Integration with backed APIs
                developed in .NET.</summary>

        </div>

        <hr>

        <div>
            <div>
                <label><strong>Project : Traveler MES</strong></label>
            </div>
            <div>
                <span><strong>Role : FrontEnd Lead</strong></span>
            </div>
            <summary class="mt-1">Developed the custom MES application transaction UI Screens for manufacturing
                customers to streamline their manufacturing process. Developed UI screens using ReactJS with reusable
                components to optimize performance and integrated API’s to make the application dynamic.</summary>

        </div>

        <hr>

        <div>
            <div>
                <label><strong>Project : Shopfloor UI Project</strong></label>
            </div>
            <div>
                <span><strong>Role : Web Application Developer</strong></span>
            </div>
            <summary class="mt-1">The School Management System is a web application built with Angular to streamline
                school operations. It provides role based access for students, teachers and administrators, enabling
                efficient management of admission, attendance dashboard, and fees Integration with backed APIs developed
                in Node Js.</summary>

        </div>
    </div>
    <hr>
    <!-- Pixel Mind IT Solutions -->
    <div>
        <div class="row" style="display: flex;justify-content: space-between;">
            <strong>Pixel Mind IT Solutions, Bangalore </strong>
            <p>Software Developer | 07/2020 - 05/2022</p>
        </div>

        <div>
            <div>
                <label><strong>Project : SkoolGo Project</strong></label>
            </div>
            <div>
                <span><strong>Role : Web Application Developer</strong></span>
            </div>
            <summary class="mt-1">The School Management System is a web application built with Angular to streamline
                school operations. It provides role based access for students, teachers and administrators, enabling
                efficient management of admission, attendance dashboard, and fees Integration with backed APIs developed
                in Node Js.</summary>
        </div>
        <hr>
        <div>
            <div>
                <label><strong>Project : Queue Management Project</strong></label>
            </div>
            <div>
                <span><strong>Role : Web Application Developer</strong></span>
            </div>
            <summary class="mt-1">The Queue Management Project is an Angular based web application designed to
                streamline and
                optimize customer environments like service centers and offices. It provides a digital solution
                for managing queue, reducing wait time and improving user experience.</summary>
        </div>

    </div>

    <hr>
    <!-- Skycliff -->
    <div>
        <div class="row" style="display: flex;justify-content: space-between;">
            <strong>Skycliff IT Pvt. Ltd, Bangalore </strong>
            <p>Software Intern | 10/2019 - 05/2020</p>
        </div>

        <div>
            <div>
                <label><strong>Project : YourDoctors Project</strong></label>
            </div>
            <div>
                <span><strong>Role : Application Developer</strong></span>
            </div>
            <summary class="mt-1">Your Doctors project is a healthcare web application build with Angular that allows
                users to book appointments with doctors. The application provides Appointment booking, Doctor Dashboard,
                Patient Dashboard, Notification and Reminders.</summary>
        </div>
    </div>

</div>