<div class="jumbotron text-center" data-aos="zoom-in">

    <h1 class="custom-font text-info text-center">Contact</h1>


    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm mb-4">
                    <div class="card-body d-flex align-items-center">
                        <div>
                            <h5 class="card-title mb-1"><i class="pi pi-phone contact-icon text-primary"></i>
                                <span>
                                    Phone : <strong>{{phone}}</strong>
                                </span>
                            </h5>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body d-flex align-items-center">
                        <div>
                            <h5 class="card-title mb-1"> <i class="pi pi-envelope contact-icon text-primary"></i>
                                <span>
                                    Email : <strong>{{email}}</strong>
                                </span>
                            </h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- <div class="custom-font">
    This text uses the Playwrite GB S font.
</div> -->