<div class="container jumbotron">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">

            <div class="text-left" data-aos="fade-left">
                <h1 class="font-bold text-white custom-font" #typedElement>
                    {{greeting}},</h1>
                <h1 class="font-bold custom-font-Oswald text-pink-500">I'm Abhishek Mahendrakr,</h1>
                <h1 class="font-bold text-white">a Professional <span class="font-bold text-pink-500">Software
                        Developer</span></h1>
                <a class="icon-container" target="_blank"
                    href="https://www.linkedin.com/in/abhishek-mahendrakar-499904187/">
                    <i class="pi pi-linkedin custom-linkedin-icon"></i>
                </a>


                <!-- <h2 style="color:#ffff" class="custom-font">I'm
                    <span class="typing" style="color:#12D640" #typedElement></span>
                </h2> -->
                <!-- <div class="custom-font">
                    <span #typedElement></span>
                </div> -->
            </div>


        </div>
        <div class="col-sm-8 col-md-8 col-lg-8">
            <pre><code class="language-javascript">{{ code }}</code></pre>

            <div class="contact-info">
                <span class="contact-item">
                    <i class="pi pi-envelope contact-icon"></i> abhimamk8@gmail.com
                </span> &nbsp;

                <span class="contact-item">
                    <i class="pi pi-phone contact-icon"></i> 8088434143
                </span>
            </div>

        </div>
    </div>
</div>